body {
    background-color: black;
    color: rgb(72, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

a {
    color: rgb(112, 104, 104);
    text-decoration: none;
    text-align: center;
    display: block;
}

.headerlink img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

.footerCab img {
    width: 100%;
    height: auto;
}

.dimensao {
    padding: 0px 150px;
}

main {
    padding: 0px 150px;
    text-align: initial;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.main-content img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 5px solid rgb(255, 255, 255);
    margin-bottom: 20px;
}

.text-content {
    text-align: center;
}

.text-content h1, .text-content h2 {
    margin: 10px 0;
}

.text-content h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 10px;
}

.text-content h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.text-content p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footerRod {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.footerRod a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

.footerRod a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

/* Ajuste para a imagem VIP */
.hr img {
    height: auto; /* Manter a altura automática para proporção */
    width: 25%; /* Ajustado para 50% da largura do contêiner pai */
    max-width: 50%; /* Garantir que a imagem não ultrapasse seu contêiner */
    border: 5px solid rgb(255, 255, 255);
    margin-bottom: 20px; /* Ajustar conforme necessário */
}

/* Ajuste para o link dentro da classe .hr */
.hr a {
    text-align: center; /* Ajuste o alinhamento do texto conforme necessário */
    
    color: red; /* Cor do texto para contrastar com o fundo */
    text-decoration: none; /* Remover decoração de link, se necessário */
}

/* Ajuste para o parágrafo dentro da classe .hr */
.hr p {
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin-top: 10px; /* Ajuste a margem conforme necessário */

    color:red;

    margin-bottom: 0; /* Remover margem inferior para melhor alinhamento */

    justify-content: center;
}

/* Ajuste para a classe .hr em geral */
.hr {
    text-align: center; /* Ajuste o alinhamento conforme necessário */
    margin-top: 20px; /* Ajuste a margem superior conforme necessário */
}


.footerRod p {
    margin-top: 5px;
    font-size: 1em;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .dimensao {
        padding: 0 50px;
    }

    main {
        padding: 0 50px;
    }

    body {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .dimensao, main {
        padding: 0 20px;
    }

    body {
        font-size: 16px;
    }

    .headerlink img {
        width: 40px;
        height: 40px;
    }
}
