/* Estilos globais para o corpo da página */
body {
    background-color: black;
    color: rgb(72, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* Estilos para a lista de navegação */
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    margin: 0;
}

/* Estilos para os links */
a {
    color: rgb(112, 104, 104);
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Estilos para as imagens nos links de navegação */
.headerlink img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

/* Estilos para o logotipo no rodapé */
.footerCab img {
    width: 100%;
    height: auto;
}

/* Estilos para a seção principal da página */
.dimensao {
    padding: 0 150px;
}

/* Estilos para a seção principal */
main {
    padding: 0 150px;
    text-align: initial;
}

/* Estilos para o conteúdo principal */
.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Estilos para os containers de imagem e texto */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* Estilos para as imagens nos containers */
.image-container img {
    width: 100%; /* Imagem ocupará toda a largura do container */
    max-width: 100%; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25%;
    margin-bottom: 10px;
}

/* Estilos para o conteúdo de texto */
.text-content {
    text-align: center;
}

.text-content h1, .text-content h2 {
    margin: 10px 0;
}

.text-content h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 10px;
}

.text-content h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.text-content p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilos para o rodapé com links sociais */
.footerRod {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

/* Estilos para as imagens nos links sociais */
.footerRod a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

/* Estilos para os links sociais no rodapé */
.footerRod a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.footerRod p {
    margin-top: 5px;
    font-size: 1em;
}

/* Media Queries para design responsivo */

@media (max-width: 1024px) {
    .dimensao, main {
        padding: 0 50px;
    }

    .text-content h1 {
        font-size: 2em;
    }

    .text-content h2 {
        font-size: 1.8em;
    }

    .text-content p {
        font-size: 1em;
    }

    .footerRod a img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .dimensao, main {
        padding: 0 20px;
    }

    .text-content h1 {
        font-size: 1.8em;
    }

    .text-content h2 {
        font-size: 1.6em;
    }

    .text-content p {
        font-size: 0.9em;
    }

    .footerRod a img {
        width: 30px;
        height: 30px;
    }

    .headerlink img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid rgb(185, 183, 173);
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .dimensao, main {
        padding: 0 10px;
    }

    .text-content h1 {
        font-size: 1.5em;
    }

    /* Mais estilos para tamanhos menores de tela */
}
