/* Estilos globais */
body {
    background-color: black;
    color: rgb(72, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

/* Estilos para listas de navegação */
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    margin: 0;
}

/* Estilos para links */
a {
    color: rgb(112, 104, 104);
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Estilos para imagens do cabeçalho */
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

/* Estilos para imagem do logo no rodapé */
.footerCab img {
    width: 100%;
    height: auto;
}

/* Estilos para o contêiner principal */
.dimensao {
    padding: 0 150px;
}

/* Estilos para o rodapé */
.footerRod {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* Estilos para imagens no rodapé */
.footerRod a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

/* Estilos para os links no rodapé */
.footerRod a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

/* Estilos para o texto no rodapé */
.footerRod p {
    font-size: 20px;
    margin-top: 5px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .dimensao {
        padding: 0 50px;
    }

    body {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .dimensao {
        padding: 0 20px;
    }

    body {
        font-size: 16px;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    .footerRod a img {
        width: 40px;
        height: 40px;
        margin: 5px;
    }

    .footerRod p {
        font-size: 16px;
        margin-top: 3px;
    }
}
