/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(72, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

a {
    color: rgb(112, 104, 104);
    text-decoration: none;
    text-align: center;
    display: block;
}

.headerlink img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

.footerCab img {
    width: 100%;
    height: auto;
}

.dimensao {
    padding: 0 150px;
}

main {
    padding: 0 150px;
    text-align: initial;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image-container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25%;
}

.text-content {
    text-align: center;
}

.text-content h1, .text-content p {
    margin: 10px 0;
}

.text-content h1 {
    font-size: 2.5em;
    color: white;
}

.text-content p {
    color: white;
    font-size: 1.2em;
}

.footerRod {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.footerRod a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(185, 183, 173);
    margin: 10px;
}

.footerRod a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.footerRod p {
    margin-top: 5px;
    font-size: 1em;
}

/* Media Queries for Responsive Design */

@media (max-width: 1024px) {
    .dimensao, main {
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .dimensao, main {
        padding: 0 30px;
    }

    body {
        font-size: 16px;
    }

    .headerlink img {
        width: 40px;
        height: 40px;
    }

    .image-container img {
        width: 80%;
    }

    .text-content h1 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .dimensao, main {
        padding: 0 20px;
    }

    body {
        font-size: 14px;
    }

    .headerlink img {
        width: 30px;
        height: 30px;
    }

    .image-container img {
        width: 100%;
    }

    .text-content h1 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 0.8em;
    }
}
